* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*defing custom color*/
:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar*/
.navbar {
  background: #ffffff;
  padding: 20px;
}

/* for container inside navbar*/
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* for Large Main Screen and Mobile Screen Menu */
.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block; /* a link elemanına block şekline verir,tıklanma alanı büyür*/
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

/*login button icon righ margin from login text*/
.navbar ul li a i {
  margin-right: 10px;
}
/*login button left margin*/
.navbar ul li:last-child a {
  margin-left: 10px;
}

.hero .hero-content {
  width: 70%;
}

/* Hero */
.hero {
  margin-bottom: 50px;
}

.hero .container {
  background: url("../images/hero-bg.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px; /*container height*/
}

.hero .hero-text {
  width: 70%;
  margin-bottom: 20px;
}

/* Video */
.video {
  padding: 10px 0;
  padding-bottom: 60px;
}

.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-preview {
  margin-bottom: 20px;
}

/*Refrences*/
.refrences {
  padding: 10px 0;
}

.refrences .refrences-heading {
  width: 700px;
  margin-bottom: 40px;
}

.references-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; /*equivalent to margin*/
}

.references .card p:nth-child(2) {
  margin-top: 30px;
  font-weight: bold;
}

/* Pricing */
.pricing .pricing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  margin-top: 50px;
}

.pricing .pricing-card-subheading {
  margin-bottom: 35px;
}

.pricing .pricing-card-price {
  margin-bottom: 30px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.pricing ul {
  margin: 30px 0;
}

.pricing ul li {
  margin-bottom: 20px;
}

.pricing ul li i {
  margin-right: 10px;
}

.pricing .pricing-footer {
  margin: 30px 0;
}

.pricing .container-sm .view-features {
  display: block;
  align-items: center;
  margin: 30px;
  color: black;
  text-align: center;
  font-weight: 600;
}

.pricing .container-sm .view-features i {
  margin-left: 7px;
}

/* Attention !*/
.pricing-card-body ul {
  list-style: none; /* Remove default list styling */
  padding-left: 0; /* Remove default padding */
}

.pricing-card-body li {
  position: relative; /* Position the icon relative to the list item */
  padding-left: 25px; /* Add space for the icon */
}

.pricing-card-body li i {
  position: absolute; /* Position the icon absolutely within the list item */
  left: 0; /* Align icon to the left */
  top: 0; /* Align icon to the top */
  font-size: 18px; /* Adjust the icon size if needed */
}
/* ------ */

/* FAQ */
.faq {
  padding: 40px 0;
}

.faq .faq-group {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
  padding: 20px 0;
  margin-bottom: 15px;
  position: relative;
}
.faq .container-sm h3 {
  font-weight: 600;
}

.faq .faq-group .faq-group-header h4 {
  font-weight: 600;
  width: 95%;
}

.faq .faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 1.3rem;
  cursor: pointer;
}

.faq .faq-group .faq-group-body {
  display: none;
}

.faq .faq-group .faq-group-body.open {
  display: block;
}

.faq ul.faq-menu {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
}

.faq ul.faq-menu li {
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
}
.faq ul.faq-menu li.active {
  background: var(--primary-color);
  color: #fff;
}

/* Footer */
.footer {
  padding: 40px 0;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul li {
  line-height: 2.5;
}
.footer a {
  color: #ccc;
}

.footer i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer .card {
  margin: 20px 30px 30px 0;
}

.footer input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  margin: 20px 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--light-color);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

/*lighter hover color for buttons*/
.btn:hover {
  opacity: 0.7;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Text Classes */
.text-xxl {
  font-size: 3rem; /* normal font-size is 16, this 3 times bigger*/
  line-height: 1.2;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.text-xl {
  font-size: 2.2rem; /* normal font-size is 16, this 3 times bigger*/
  line-height: 1.4;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.text-lg {
  font-size: 1.8rem; /* normal font-size is 16, this 3 times bigger*/
  line-height: 1.4;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.text-md {
  font-size: 1.2rem; /* normal font-size is 16, this 3 times bigger*/
  line-height: 1.4;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

.text-sm {
  font-size: 0.9rem; /* normal font-size is 16, this 3 times bigger*/
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Card */
.card {
  background: #fff;
  color: black;
  border-radius: 10px;
  padding: 20px;
}

/* Background */
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-black {
  background: black;
  color: #fff;
}

/* for Refrences bg color padding */
.references .references-container {
  padding: 20px 20px;
  padding-bottom: 60px;
  max-width: 1100px;
  margin: 0 auto;
}
